<div *ngIf="data?.length" class="d-flex align-items-center justify-content-between mt-3 flex-wrap">

  <div class="text-muted small">
    Página {{ paginaActual }} de {{ paginasTotales }} — Total registros: {{ data.length }}
  </div>

  <div class="d-flex align-items-center gap-2 justify-content-center flex-grow-1 pagination-controls">
    <button class="btn btn-pagination arrow-btn" (click)="firstPage()" [disabled]="paginaActual===1">«</button>
    <button class="btn btn-pagination arrow-btn" (click)="prevPage()" [disabled]="paginaActual===1">‹</button>

    <button *ngFor="let page of paginasVisibles" class="btn btn-pagination"
      [ngClass]="{'active': page===paginaActual}" (click)="cambiarPagina(page)">
      {{ page }}
    </button>

    <button class="btn btn-pagination arrow-btn" (click)="nextPage()" [disabled]="paginaActual===paginasTotales">›</button>
    <button class="btn btn-pagination arrow-btn" (click)="lastPage()" [disabled]="paginaActual===paginasTotales">»</button>
  </div>

  <div>
    <label>Mostrar:
      <select (change)="cambiarItemsPorPagina($event)" class="form-select form-select-sm d-inline-block"
        style="width: auto;">
        <option *ngFor="let opt of opciones" [value]="opt">{{ opt }}</option>
      </select>
    </label>
  </div>
</div>
