<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  
  <div class="sidenav-container">
    <button class="name" (click)="toggleCollapse()">FJ</button>
    <div *ngIf="!collapsed" class="full-name">Felipe Joven</div>
  </div>
  
  <ul class="sidenav-nav" >
    <li *ngFor="let item of menuItems" class="sidenav-nav-item">
      
      <a *ngIf="!item.children" [routerLink]="item.routerLink" routerLinkActive="active">
        <i *ngIf="item.icon" class="{{ item.icon }}"></i>
        <span *ngIf="!collapsed">{{ item.label }}</span>
      </a>

      
      <div *ngIf="item.children">
        <span class="menu-parent" (click)="toggleSubmenu(item)">
          <i *ngIf="item.icon" class="{{ item.icon }}"></i>
          <span *ngIf="!collapsed">{{ item.label }}</span>
          <i *ngIf="!collapsed" class="bi" [ngClass]="item.expanded ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
        </span>

        <ul *ngIf="item.expanded && !collapsed" class="submenu">
          <li *ngFor="let child of item.children">
            <a [routerLink]="child.routerLink" routerLinkActive="active">
              {{ child.label }}
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
