<div class="container mt-4">
    <div class="justify-content-between">
        <div class="h1 bg-gray-500 border-3 border-gray-400">Lista de Especies</div>
    </div>

    <app-btn-agregar (click)="openModal()"></app-btn-agregar>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de especie</th>
                <th>Fecha de creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let especie of especies">
                <td>{{ especie.especie }}</td>
                <td>{{ especie.fechaCreacion }}</td>
                <td>
                    <app-btn-editar (clickEvent)="openModal(especie)"></app-btn-editar>
                    <app-btn-eliminar (clickEvent)="eliminarEspecie(especie.id)"></app-btn-eliminar>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal reutilizable -->
<app-modal [show]="showModal" [title]="selectedEspecie ? 'Editar especie' : 'Agregar especie'" (closed)="closeModal()">

    <app-especie-form [especie]="selectedEspecie" (guardado)="onSave()" (cancelar)="closeModal()">
    </app-especie-form>
</app-modal>