<div class="container mt-4">
  <h1 class="mb-4 text-center">Lista de Especies</h1>

  <div class="d-flex align-items-center justify-content-between mb-3 flex-wrap">
    <div>
      <app-btn-agregar (click)="openModal()"></app-btn-agregar>
    </div>

    <div class="flex-grow-1 d-flex justify-content-center">
      <input type="text" class="form-control w-auto" style="min-width: 300px;" placeholder="Buscar especie..."
        [formControl]="busquedaControl" />
    </div>

    <div>
      <select class="form-select w-auto" [formControl]="ordenControl">
        <option value="" disabled selected>Ordenar por...</option>
        <option value="nombreAsc">Nombre (A-Z)</option>
        <option value="nombreDesc">Nombre (Z-A)</option>
        <option value="fechaAsc">Fecha más antigua</option>
        <option value="fechaDesc">Fecha más reciente</option>
      </select>
    </div>
  </div>

  <div *ngIf="!isLoading && especies.length === 0" class="alert alert-info mt-3 text-center" style="width: 50%;">
        No existen especies registradas
    </div>

  <table class="w-100 mt-3" *ngIf="!errorMessage">

    <thead>
      <ng-container *ngIf="isLoading && !isFiltering; else headerReal">
        <tr>
          <th>
            <div class="skeleton-header"></div>
          </th>
          <th>
            <div class="skeleton-header"></div>
          </th>
          <th>
            <div class="skeleton-header"></div>
          </th>
        </tr>
      </ng-container>

      <ng-template #headerReal>
        <tr *ngIf="(!isLoading || isFiltering) && especies.length > 0">
          <th>Nombre de especie</th>
          <th>Fecha de creación</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
    </thead>

    <tbody>

      <ng-container *ngIf="isLoading; else filasDatos">
        <tr *ngFor="let _ of skeletonRows">
          <td><p-skeleton height="1.5rem" width="100%"></p-skeleton></td>
          <td><p-skeleton height="1.5rem" width="100%"></p-skeleton></td>
          <td><p-skeleton height="1.5rem" width="100%"></p-skeleton></td>
        </tr>
      </ng-container>

      <ng-template #filasDatos>
        <tr *ngFor="let especie of especies">
          <td>{{ especie.especie }}</td>
          <td>{{ especie.fechaCreacion }}</td>
          <td>
            <app-btn-editar (clickEvent)="openModal(especie)"></app-btn-editar>
            <app-btn-eliminar (clickEvent)="borrarEspecie(especie.id)"></app-btn-eliminar>
          </td>
        </tr>
      </ng-template>

    </tbody>
  </table>
  
  <div *ngIf="!isLoading && errorMessage" class="alert alert-danger text-center mx-auto mt-2" style="width: 50%;">
    {{ errorMessage }}
  </div>


  <p *ngIf="!isLoading && especies.length === 0 && !errorMessage" class="alert alert-info mt-3 text-center"
    style="width: 50%;">
    No existen especies registradas
  </p>

  <app-modal *ngIf="showModal" [show]="showModal" [title]="selectedEspecie ? 'Editar especie' : 'Agregar especie'"
    (closed)="closeModal()">
    
    <app-especie-form [especie]="selectedEspecie" 
      (guardado)="onSave()" 
      (cancelar)="closeModal()">      
    </app-especie-form>

  </app-modal>